name: Check for type updates

on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

jobs:
  check_for_update:
    name: Copy
    runs-on: ubuntu-latest
    steps:
      - name: Copy Anywhere Action
        uses: Cobular/copycat-anywhere-action@v4.0.0
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          src_path: types
          src_owner: abUwUser
          src_repo_name: BDPlugins
          dst_path: /
          dst_owner: Cobular
          dst_repo_name: BDTypes
  
  